/* -------------------------- */
/* ------- link styles ------ */
/* -------------------------- */
 
 /*
 a:link 	{color: #aaff00; text-decoration: none} 
 a:visited	{color: #ffaa22; text-decoration: none}
 a:hover 	{color: #0000aa; text-decoration: underline}  
 a:active 	{color: #0000aa; text-decoration: underline}
 */

/* -------------------------- */
/* ---------- other --------- */
/* -------------------------- */

.unusable-link		{ color: #ff0000; }

.field 			{ color: black; }
.value 			{ color: #009922; }