
/* --------- a wrapper ----------  */

body {
	text-align: center;		/* just to deal with pre ie7 aligning bug */
	background-color: #eeeeee;
}

#wrapper {
	position: relative; 
	width: 752px;
	margin: 0 auto;
	text-align: center;
}

/* ------------------------------ */